p.board_player-balance,
input.board_player-balance {
  width: 0px;
  flex-grow: 1;
}

div.board_player-balance {
  button {
    visibility: hidden;
  }

  p {
    line-height: 100%;
  }

  &:hover,
  &:focus {
    button {
      visibility: visible;
    }
  }
}
