div.board_player-display {
  display: grid;
  grid-template: repeat(6, 24px) / 24px 128px 128px;
  grid-row-gap: 8px;
  grid-column-gap: 8px;

  p.player {
    width: 100%;
    height: 100%;
  }

  button {
    width: 24px;
    height: 24px;
  }
}
