td.clue, th.category {
  height: 100px;
  width: 250px;
  background-color: #060CE9;
  text-align: center;
  border: 1px solid white;
  border-collapse: collapse;
}

th.category {
  height: 200px;
}

h1 {
  margin-bottom: 48px;
}

p {
  color: white;
  font-size: 32px;
  display: block;
}

p.normal {
  color: black;
  font-size: 24px;
}

p.cost {
  color: yellow;
  flex-grow: 1;
}

table#clue_table {
  margin-top: 36px;
  height: 700px;
  width: 1800px;
}

table#player {
  min-width: 750px;
  margin-top: 18px;
}

td.player {
  border: 1px solid black;
  border-collapse: collapse;
  border-left: 0;
  border-right: 0;
}

div#clue_display {
  background-color: #060CE9;
  height: 700px;
  width: 1800px;
  margin-top: 36px;
}

.hidden {
  visibility: hidden;
}

.center {
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  text-align: center;
}

div.console {
  margin: 18px;
}
